/* ====================== Main Container ======================*/

body {
    background-color: #F9F5ED;
    background-color: aliceblue;
    overflow-x: hidden; 
    overflow-y: hidden;
}

.container {
    display: flex;
}

/* Smartphones */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    body { 
        overflow-x: hidden; 
        overflow-y: visible;
    }
    
    .container {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
}

/* ====================== Logo ======================*/

.logo {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0px;
}

.logo img {
    width: 25%;
}

/* Smartphones */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .logo {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 0px;
    }
    .logo img {
        width: 50%;
    }
}

/* ====================== App Screenshot ======================*/

.iphone-container {
    display: flex;
    height: 100vh;
    margin-left: 20%;
}

.iphone {
    height: 90%;
    margin: 30% auto;
}

/* Smartphones */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .iphone-container {
        display: flex;
        height: 90vh;
        width: 100%;
        margin: 0 auto;
    }
    
    .iphone {
        height: 80%;
    }
}

/* ====================== Call To Action ======================*/

.call-to-action {
    display: flex;
    flex-direction: column;
}

.download-button {
    background-image: url("images/Download_on_the_App_Store_Badge.svg.png");
    background-repeat: no-repeat;
    background-attachment: contain;
    background-position: center;
    background-size: 100%;
    
    width: 175px;
    height: 100px;
    
    margin-top: 50px;
}

/* Smartphones */
@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px) {
    .download-button {
        background-size: auto 100%;
        height: 150px;
        width: 100%;
         margin-top: 0px;
    }
        
    .call-to-action {
        flex-direction: column-reverse;
    }
}

@font-face {
  font-family: 'Pokemon';
  src: url(fonts/PokemonGB.ttf);
}

.catch-all {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    margin-top: 30vh;
    height: 200px;
    width: 100%;
    text-align: left;
    font-size: 20px;
    border-style: double;
    padding: 20px 20px;
    background-color: #F8F8F8; 
}

.menu {
    color: #53534B
}

/* Smartphones */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .catch-all {
        font-size: 40px;
        margin-top: 10vh;
        height: 500px;
    }
}

.row {
    display: flex;
    align-items: center;
    height: 100px;
}

/* Smartphones */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .row {
        height: 200px;
    }
}

.row:hover .on{  
    visibility: visible;
}

.row:hover .off{
    visibility: visible;
}

.off {
  visibility: hidden;
}

.on {
  visibility: visible;
}

/* Smartphones */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .off {
        visibility: visible;
    }
}

.text {
    color: #3C59A5;
    font-family: 'Pokemon';
    margin-left: 10px;
    
}

/* Smartphones */
@media only screen
and (min-device-width : 320px)
    and (max-device-width : 480px) {
    .about {
        font-size: 8px;
        text-align: justify;
    }
}

.title {
    color: #3C59A5;
    font-family: 'Pokemon';
    margin-top: 15%;
    margin-bottom: 5%;
    margin-left: 10%;
}

/* Smartphones */
@media only screen
and (min-device-width : 320px)
    and (max-device-width : 480px) {
        .title {
            margin-top: 25%;   
        }
}

.back {
    color: #3C59A5;
    font-family: 'Pokemon';
}

.text-container {
    margin: 0% 10%;
    font-size: 12px;
    line-height: 20px
}

.text-block {
    margin-top: 50px;
}

a, u{ 
    text-decoration: none !important;
}

a:visited {
    color: #53534B;
}
